body {
  text-align: center;
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hideElement {
  display: none;
}

.showElement {
  display: block;
}

.card, #searchResults > div:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.082);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.452);
  border-radius: 7px;
}

/* UVI Color Utilities */
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.orange {
  color: orange;
}
.red {
  color: red;
}
.violet {
  color: violet;
}


/* Headers */
h1, h2, h3, h4, h5, h6 {
  color: white;
  text-shadow: black 0px 0px 10px;
}

h1 {
  font-size: 3rem;
}

/* Classes */
.centerAllElements {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carousel-item > img {
  overflow: visible;
  height: 100vh;
  width: auto;
}

.col-lg-2 {
  padding: 0;
  margin: 1rem;
}

.col-lg-3 {
  padding-top: 1rem;
}

.card-body {
  color: white;
}

.forecastIcon {
  margin-bottom: .75rem;
}

.firstVisit {
  height: 100vh;
  justify-content: center;
}

/* Ids */
#backgroundImages {
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  z-index: -1;
}

#currentDate {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

#searchResults {
  margin-top: 1rem;
}

#searchResults > .row, #userSearchInput {
  margin-bottom: 2rem;
}

#userSearch {
  margin: 2rem;
}

#forecastResults, #weatherHeader {
  margin-top: 3rem;
  justify-content: center;
}

#forecastResults > * {
  box-sizing: content-box;
}

#searchResults > div:nth-child(1) {
  padding: 2rem;
}